.header {
  background: #0262c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 2px #f1a501; }
  .header .header-logo {
    padding: 0 15px;
    color: white; }
  .header .nav-button {
    width: 35px;
    height: 100%;
    padding: 10px;
    display: none; }
    .header .nav-button i {
      color: white; }
  .header .header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; }
    .header .header-nav_link, .header .header-nav_link--current-user {
      padding: 14px;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }
      .header .header-nav_link--text {
        margin: 0 10px;
        font-size: .9rem; }
      .header .header-nav_link:hover, .header .header-nav_link--current-user:hover {
        text-decoration: none; }
    .header .header-nav_link--current-user {
      background: #034181; }

.nav {
  background: #fff;
  height: calc(100vh - 53px);
  box-shadow: 2px 2px 6px 1px #ccc; }
  .nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%; }
    .nav-menu_item {
      border-bottom: solid 1px grey;
      border-left: solid 3px transparent;
      display: block;
      transition: all 0.3s ease-in-out; }
      .nav-menu_item.active {
        border-left: solid 3px #f1a501;
        font-weight: 500; }
        .nav-menu_item.active .nav-menu_link:after {
          transform: rotate(180deg); }
        .nav-menu_item.active .sub-menu {
          display: block !important;
          font-weight: 400;
          transition: all 0.3s ease-in-out; }
      .nav-menu_item .sub-menu {
        display: none;
        list-style: none;
        border-top: solid 1px #ededed;
        transition: all 0.4s ease-in-out; }
        .nav-menu_item .sub-menu-item {
          border-bottom: 1px solid #ededed; }
          .nav-menu_item .sub-menu-item:last-child {
            border-bottom: none; }
        .nav-menu_item .sub-menu-link {
          font-size: .85rem;
          color: #000;
          padding: 5px;
          display: block; }
          .nav-menu_item .sub-menu-link:hover {
            text-decoration: none;
            color: #0262c4; }
    .nav-menu_link {
      color: #000;
      padding: 10px 15px;
      font-size: .9rem;
      width: 100%;
      display: inline-block; }
      .nav-menu_link:hover {
        text-decoration: none;
        color: #0262c4; }
      .nav-menu_link--text {
        margin-left: 5px; }
      .nav-menu_link.has-submenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        .nav-menu_link.has-submenu:after {
          content: "\e907";
          font-family: 'vector-icons'; }

.btn-custom {
  font-size: .9rem;
  display: flex;
  align-items: center; }

.btn.raised {
  box-shadow: 1px 1px 3px #ccc; }

.btn i {
  margin-right: 5px; }

.btn-primary {
  background: #f1a501;
  border: none; }
  .btn-primary:hover {
    background: #c78902; }

.main-search {
  border: solid 1px #545454;
  border-radius: .25rem; }
  .main-search-append {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: white;
    border-radius: 0 .25rem .25rem 0; }
  .main-search .form-control {
    border: none;
    width: 200px;
    transition: all 0.4s ease-in-out; }
    .main-search .form-control:focus {
      width: 300px;
      box-shadow: none;
      border-color: #bababa; }

.card {
  box-shadow: 1px 1px 6px 0px #dad7d7;
  color: #000; }
  .card-stretched {
    height: 100%; }
  .card .chart-summary-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .card .chart-summary_label {
    font-size: .8rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 0; }
  .card .chart-result {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .card .chart-result_points {
      margin: 0;
      padding: 0; }
    .card .chart-result_status {
      padding-left: 10px;
      font-weight: 500; }
    .card .chart-result_status-duration {
      padding-left: 10px; }
  .card .chart-details_points {
    margin: 0;
    padding: 0; }
  .card .chart-details_status {
    font-weight: 500; }
  .card .chart-details_status-duration {
    padding-left: 10px; }
  .card-sm_header {
    padding: 5px;
    border-bottom: 1px solid #ededed; }
    .card-sm_header .label {
      font-size: .9rem;
      font-weight: 500;
      color: #000;
      margin-bottom: 0; }
  .card-sm_body {
    padding: 5px; }
  .card-sm_table {
    font-size: .9rem;
    padding: 3px;
    width: 100%; }
    .card-sm_table th {
      font-weight: 500; }
  .card-sm canvas {
    max-height: 80px !important; }
  .card-md_header {
    padding: 10px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .card-md_header .label {
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      margin-bottom: 0; }
  .card-md_body {
    padding: 10px; }
  .card-md_table {
    font-size: .9rem;
    width: 100%; }
    .card-md_table tr {
      border-bottom: solid 1px #ededed; }
    .card-md_table td, .card-md_table th {
      padding: 5px; }
    .card-md_table th {
      font-weight: 500; }
  .card-lg_header {
    padding: 15px;
    border-bottom: 1px solid #ededed; }
    .card-lg_header .label {
      font-size: .9rem;
      font-weight: 500;
      color: #000;
      margin-bottom: 0; }
  .card-lg_body {
    padding: 15px; }
  .card .items-table_header {
    background: #545454;
    color: white; }
  .card .items-table_row {
    background: #fafafa; }
  .card .items-table th {
    padding: 7px 5px;
    vertical-align: middle; }
  .card .items-table td, .card .items-table .card-md_table th, .card-md_table .card .items-table th {
    vertical-align: middle; }
    .card .items-table td .form-control, .card .items-table .card-md_table th .form-control, .card-md_table .card .items-table th .form-control {
      height: calc(1.1em + .75rem + 2px);
      padding: .215rem .305rem; }

.section {
  padding: 0 20px; }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
    border-bottom: solid 1px #bababa; }
    .section-header_title {
      font-weight: 400;
      font-size: 1.5rem;
      padding: 5px;
      margin: 0; }
    .section-header_actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; }

.mobile-nav {
  display: none;
  background: white;
  box-shadow: 2px 2px 6px 1px #ccc;
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .mobile-nav .nav-item {
    color: #000;
    font-size: 1.2rem;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .mobile-nav .nav-item_text {
      font-size: .7rem;
      line-height: 1.2;
      font-style: normal; }
  .mobile-nav .raised {
    font-size: 2rem;
    background: #f1a501;
    color: white;
    border: 2px solid #ededed;
    padding: 12px;
    border-radius: 50px;
    position: absolute;
    left: 42%;
    right: 40%;
    bottom: 10px;
    width: 60px;
    height: 60px; }

.page-contents {
  margin-top: 20px; }
  .page-contents .selling-options_actions {
    display: flex;
    justify-content: flex-end; }
    .page-contents .selling-options_actions .btn {
      margin-right: 5px; }
  .page-contents .summary .label {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 500; }
  .page-contents .summary-totle h4 {
    text-align: center;
    color: #f1a501; }
  .page-contents .summary-receivable {
    background: #ededed;
    padding: 5px; }
    .page-contents .summary-receivable h2 {
      text-align: center;
      color: #0262c4; }
  .page-contents .summary-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .page-contents .summary-discount .label {
      flex-grow: 2; }
    .page-contents .summary-discount .input-group {
      max-width: 110px; }
    .page-contents .summary-discount .discount-value {
      display: flex;
      justify-content: flex-start;
      max-width: 170px;
      font-weight: 500; }

.mobile-nav {
  display: none; }

.form-md {
  padding: 10px; }
  .form-md label {
    margin-bottom: 0;
    font-size: .9rem;
    color: #000; }
  .form-md .form-control {
    height: calc(1.3em + .75rem + 2px);
    padding: .275rem .35rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1;
    color: #000;
    border: 1px solid #4d4d4d; }

@media (max-width: 768px) {
  .header .nav-button {
    display: block; }
  .nav {
    position: absolute;
    left: -200px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 3; }
    .nav.active {
      left: 0;
      visibility: visible;
      width: 250px; }
  .input-group .form-control:focus {
    width: auto; }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  #scanner {
    overflow: hidden;
    height: 150px; }
  .section-header {
    flex-direction: column;
    align-items: stretch; }
  .card {
    margin-bottom: 1rem; }
    .card .chart-details_status-duration {
      display: none; }
    .card .chart-summary_label span {
      display: none; }
  .table-responsive {
    overflow-x: auto; } }

@media (max-width: 1024px) {
  .header .nav-button {
    display: block; }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .nav {
    position: absolute;
    left: -200px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 3; }
    .nav.active {
      left: 0;
      visibility: visible;
      width: 250px; }
  .card {
    margin-bottom: 1rem; }
    .card .chart-details_status-duration {
      display: none; }
    .card .chart-summary_label span {
      display: none; } }

body {
  padding: 0;
  margin: 0;
  color: #000;
  font-weight: 400;
  background: #ededed; }
