@include small-screen {
    .header .nav-button{
        display: block;
    }
    .nav{
        position: absolute;
        left: -200px;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        &.active{
            left: 0;
            visibility: visible;
            width: 250px;
        }
    }

    .input-group .form-control:focus{
        width: auto;
    }
    .mobile-nav{
        @include flex-justify-center(row);
    }

    #scanner{
        overflow: hidden;
        height: 150px;
    }

    .section-header{
        flex-direction: column;
        align-items: stretch;
        
    }

    .card{
        margin-bottom: 1rem;
        .chart-details_status-duration{
            display: none;
        }
        .chart-summary_label span{
            display: none;
        }
    }

    .table-responsive{
        overflow-x: auto;
    }
}

// medium screen
@include medium-screen {
    .header .nav-button{
        display: block;
    }
    .mobile-nav{
        @include flex-justify-center(row);
    }
    .nav{
        position: absolute;
        left: -200px;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        &.active{
            left: 0;
            visibility: visible;
            width: 250px;
        }
    }
    .card{
        margin-bottom: 1rem;
        .chart-details_status-duration{
            display: none;
        }
        .chart-summary_label span{
            display: none;
        }
    }
}

