
.section{
    padding: 0 20px;
    &-header{
        @include flex-justify-center(row);
        padding: 5px 0;
        border-bottom: solid 1px darken($grey, 20%);
        &_title{
            font-weight: fontWeight('regular');
            font-size: 1.5rem;
            padding: 5px;
            margin: 0;
        }
        &_actions{
            @include flex-justify-center(row);
        }
    }

    .chart-container_sm{
        .chart-label{
            font-size: .9rem;
            font-weight: fontWeight(medium);
            color: $text-color;
            margin-bottom: 0;
        }
        .chart-result{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &_points{
                margin: 0;
                padding: 0;
            }
            &_status{
                padding-left: 10px;
                font-weight: fontWeight(medium);
            }
            &_status-duration{
                padding-left: 10px;
            }
        }
    }
}

.page-contents{
    margin-top: 20px;
}

.mobile-nav{
    display: none;
}