
.section{
    padding: 0 20px;
    &-header{
        @include flex-justify-center(row);
        padding: 5px 0;
        border-bottom: solid 1px darken($grey, 20%);
        &_title{
            font-weight: fontWeight('regular');
            font-size: 1.5rem;
            padding: 5px;
            margin: 0;
        }
        &_actions{
            @include flex-justify-center(row);
        }
    }
}

.page-contents{
    margin-top: 20px;
    .selling-options{
        &_actions{
            display: flex;
            justify-content: flex-end;
            .btn{
                margin-right: 5px;
            }
        }
    }
    .summary{
        .label{
            font-size: 1rem;
            margin-bottom: 0;
            font-weight: fontWeight(medium);
        }
        &-totle{
            h4{
                text-align: center;
                color: $secondary;
            }
        }
        &-receivable{
            background: $grey;
            padding: 5px;
            h2{
                text-align: center;
                color: $primary;
            }
        }
        &-discount{
            @include flex-justify-center(row);
            .label{
                flex-grow: 2;
            }
            .input-group{
                max-width: 110px;
            }
            .discount-value{
                display: flex;
                justify-content: flex-start;
                max-width: 170px;
                font-weight: fontWeight(medium);
            }
        }
    }
}

.mobile-nav{
    display: none;
}